<body class='default-body messages-body'>

  <%=render 'shared/header'%>

  <div class='index-messages-container'>
    <div class='messages-div'>
      <h2>Mensagens:</h1>
      <table class='default-table messages-table'>
        <tr>
          <th>Ver</th>
          <th>Título</th>
          <th>Mensagem</th>
          <th>Contatos</th>
        </tr>

        <% @all_messages.each do |message| %>
          <tr>
            <td><%= link_to "Ver", message_path(message) %></td>
            <td><%= message.title %></td>
            <td><%= message.message %></td>
            <td><%= contacts_to_str(message.contacts) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</body>
