<body class='default-body'>

  <%=render 'shared/header'%>

  <%= form_with model: @new_message do |f| %>

    <div>
      <%= f.text_field :title, class: 'default-input-2 new-message-title', placeholder: 'Título', id: 'new-message-title' %>
    </div>
    
    <div>
      <%= f.text_area :message, class: 'default-input-2 new-message-text', placeholder: 'Mensagem', id: 'new-message-message' %>
    </div>

    <div class='new-message-contacts'>
      <%@user_contacts.each do |contact|%>
        <input type='checkbox' class='new-message-contacts-info' id='new-message-contacts-info-<%=contact[1]%>'/>
        <label><%=contact[0]%></label>
        <br>
      <%end%>
    </div>

    <div>
      <%= f.label :grupo %>
      <%= f.select :group, options_for_select(@groups), {include_blank: true}, id: 'new-message-group' %>
    </div>

    <button type='button' id='new-message-btt'>Enviar mensagem</button>

  <% end %>

</body>

<%= javascript_pack_tag 'messages/new' %>