
<body class='sign-up-body'>

  <%=render 'devise/shared/login_header'%>



  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2>Cadastre-se</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :first_name, autofocus: true, placeholder: 'Primeiro nome', class:'default-input sing-up-input' %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, autofocus: true, placeholder: 'Último nome', class:'default-input sing-up-input' %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class:'default-input sing-up-input' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Senha', class:'default-input sing-up-input' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmar senha', class:'default-input sing-up-input' %>
    </div>

    <%= f.submit "Cadastrar", class: 'default-input sing-up-input sign-up-btt' %>
  <% end %>

</body>

