<body>

  <%=render 'shared/header'%>

  <%= form_with model: @new_group  do |f| %>

    <h2 class='default-title'>Novo grupo</h2>

    <div>
      <%= f.text_field :name, class: 'default-input create-group-input', placeholder: 'Nome', id: 'create-group-name' %>
    </div>

    <div>
      <%= f.text_field :description, class: 'default-input create-group-input', placeholder: 'Descrição', id: 'create-group-description' %>
    </div>

    <h3 class='default-title'>Adicione usuários a esse grupo</h3>

    <div>
      <% @user_contacts.each do |contact| %>
        <input type='checkbox' class='add-user-to-group' id='add-user-to-group-<%=contact[1]%>'/>
        <%=contact[0].titleize%>
        <br>
      <% end %>
    </div>

    <button type='button' class='default-btt' id='create-group-btt'>Criar Grupo</button>

  <% end %>

</body>

<%= javascript_pack_tag 'groups/new' %>