<body>
  <%=render 'devise/shared/login_header'%>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h2>Esqueceu sua senha?</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'default-input reset-password-input' %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'default-btt reset-password-btt' %>
    </div>
  <% end %>
</body>
