<body class='default-body list-contacts'>

  <%=render 'shared/header'%>
  
  <h2 class='default-title'>Contatos</h2>
  <table class='default-table'>
    <tr>
      <th>Ver</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Gênero</th>
    <tr>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to "Ver contato", contact_path(contact) %></td>
        <td><%= contact.first_name %> <%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.gender %></td>
      </tr>
    <%end%>
  </table>

  <%= link_to "Criar contato", new_contact_path, class: 'default-btt create-contact' %>

</body>
