<h1>Contatos:</h1>
<% @contacts.each do |contact| %>
    <p><%= contact.first_name %></p>
    <p><%= contact.last_name %></p>
    <p><%= contact.email %></p>
    <p><%= contact.telegram_profile %></p>
    <p><%= contact.phone_number %></p>
    <p><%= contact.gender %></p>
<%end%>
