<body class='default-body'>
  
  <%=render 'shared/header'%>
  
  <h2 class='default-title'>Novo Contato</h2>
  <%= form_with model: @current_contact do |f| %>
    <div>
      <%= f.text_field :first_name, class: 'default-input new-contact-input', placeholder: 'Primeiro Nome' %>
    </div>

    <div>
      <%= f.text_field :last_name, class: 'default-input new-contact-input', placeholder: 'Último Nome' %>
    </div>

    <div>
      <%= f.email_field :email, class: 'default-input new-contact-input', placeholder: 'Email' %>
    </div>

    <div>
      <%= f.phone_field :phone_number, class: 'default-input new-contact-input', placeholder: 'Telefone' %>
    </div>

    <div>
      <%= f.label :Gênero %>
      <%= f.select :gender, ['Homem', 'Mulher'] %>
    </div>

    <%= f.submit "Criar contato", class: 'default-btt' %>
  <% end %>
</body>