<h1>
    <%=@contact_to_show.first_name%>
    <%=@contact_to_show.last_name%>
</h1>
<div>
    <%=@contact_to_show.email%>
</div>
<div>
    <%=@contact_to_show.phone_number%>
</div>
<div>
    <%=@contact_to_show.telegram_profile%>
</div>
<div>
    <%=@contact_to_show.gender%>
</div>

