<h1>
    <%=@current_contact.first_name%>
    <%=@current_contact.last_name%>
</h1>
<div>
    <%=@current_contact.email%>
</div>
<div>
    <%=@current_contact.phone_number%>
</div>
<div>
    <%=@current_contact.telegram_profile%>
</div>
<div>
    <%=@current_contact.gender%>
</div>


<%= link_to 'Deletar contato', contact_path, method: :delete %>