<body class='default-body'>

  <%=render 'shared/header'%>

  <h1 class='default-title'>
    <%=@current_contact.first_name.titleize%>
    <%=@current_contact.last_name.titleize%>
  </h1>
  <div>
    <%=@current_contact.email%>
  </div>
  <div>
    <%=@current_contact.phone_number%>
  </div>
  <div>
    <%=@current_contact.gender%>
  </div>

  <%= link_to 'Deletar contato', contact_path, method: :delete %>

</body>
