<body class='login-body'>

  <div class='login-header'>
    <%= image_tag('logo.png') %>
    <div>
      <a href="/users/sign_up">Cadastre-se</a>
      <a href="/users/sign_in">Login</a>
    </div>
  </div>

  <div class='login-container'>
    <div class=login-copy>
      <h1>BORA WUPHAR GERAL!</h1>
      <p>Mande mensagens pra varias plataformas</br>de mensagem ao mesmo tempo para varios</br>amigos ao mesmo tempo. Achou interessante?</br> <b>Vem com nós!</b></p>
      <a href='/users/sign_up'>Cadastre-se</a>
    </div>

    <%= image_tag('person.png') %>
    
    <div class='login-form'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>
        <div class="login-field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="login-field-remember">
            <%= f.check_box :remember_me %>
            <%= f.label 'Lembrar de mim' %>
          </div>
        <% end %>
        <div class="actions">
          <%# <%= f.submit "Log in" %>
          <button>Login</button><br>
          <div class='login-session-action'>
            <a href='password/new'>Esqueci minha senha</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</body>
